.image-holder {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}

.image-holder img {
  padding: 1px 2px;
  border: 2px solid red;
}

.image-holder img:hover {
  border-color: rgb(20, 250, 255, 1);
}
