{% load static %}
<div class="container">
  <div class="games col-md-12 col-sm-12">
    <div class="row">
      <h2>Games</h2>
      <div class="image-holder">
        <div class="game">
          <a href="{% url 'checkers' %}">
            <img
              src='{% static 'games/images/checkers.jpg' %}'
              alt=''
              width='250'
              height='120'>
          </a>
          <h5 class="game-title">Checkers</h5>
        </div>
        <div class="game">
          <a href="">
            <img
              src='{% static 'games/images/poker.jpg' %}'
              alt=''
              width='250'
              height='120'>
          </a>
          <h5 class="game-title">Poker</h5>
        </div>
        <div class="game">
          <a href="">
            <img
              src='{% static 'games/images/tic-tac-toe.png' %}'
              alt=''
              width='250'
              height='120'>
          </a>
          <h5 class="game-title">Tic Tac Toe</h5>
        </div>
      </div>
    </div>
  </div>
</div>