<nav class="navbar navbar-defualt">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'index' %}">Games</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'people' %}">People</a></li>
    <li><a href="{% url 'profile_view' %}">Profile</a></li>
    <li>{{ user.username }}</li>
    {% endif %}
  </ul>

  <ul class="nav navbar-nav navbar-center navbar-brand">
    <h1><a href="{% url 'index' %}">Pizzacade</a></h1>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Signup</a></li>
    {% endif %}
  </ul>
</nav>