{% extends 'games/base.html' %}
{% load static %}
{% block head_content %}
<script src="{% static 'games/checkersgame/Build/UnityLoader.js' %}"></script>
<script>
  var unityInstance = UnityLoader.instantiate("unityContainer", "{% static 'games/checkersgame/Build/webgl.json' %}");
</script>
{% endblock head_content %}
{% block content %}

<style>
  .boxy {
    background: #b3ddff;
    border: 2px solid black;
  }
</style>

<div class="row content">
  <div class="col-md-8 col-sm-12 boxy">
    <div id="unityContainer" style="width: 960px; height: 600px"></div>

  </div>


  <div class="col-md-4 col-sm-12 boxy webcam-view">
    <div class="join-buttons">

      <button class="button createfriendroom" onclick="createFriendRoom()">Create Room</button>
      <button class="button joinfriendroom" onclick="joinFriendRoom()">Join Room</button>
      <button class="button randomroom" onclick="RandomMatching()">Random Match</button>
      <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
    </div>
    <form>
      <label for="username">Name: </label>
      <input type="text" name="username" id="username">
      <button id="join_leave">Join call</button>
    </form>
    <div id="container" class="container webcams">
      <div id="local" class="participant">
        <div id="webcam"></div>
        <div>Me</div>
      </div>
      <!-- more participants will be added dynamically here -->
    </div>
    <!-- <div class="webcams">
        <img src='https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/45807319_10156019548898553_529647202209890304_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=CdVJPqBt5UkAX-5Bdl5&_nc_ht=scontent-lga3-1.xx&oh=973ba717fa98074d8642dd5a17986441&oe=5F92AF7A' alt='David Pollak' width ='1000' height = '500' class = 'round2'>
        <img src='https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/p960x960/75567368_10159158744686110_2095319724001853440_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=ALBj1viDGkwAX_YszI_&_nc_oc=AQldU-UVnZ24etSuprDgmIeclWwXJ0fGmDuxmq6wLfgDRnHpopO2PVqnZV2Gw7UTbvrF0-XyG3mTbTT4Xn54wEud&_nc_ht=scontent-lga3-1.xx&tp=6&oh=d6e23edeaf831baec129185e52bcd662&oe=5F6ED0CA' alt='Miri Rosen' width ='1000' height = '500' class = 'round2'>
        </div> -->
  </div>
</div>
{% if user.is_authenticated %}
<div id="online-user-box">
  <div class="online-user-header">
    <h5>Online Users</h5>
{#    <i class="fas fa-user-friends"></i>#}
    <i class="fas fa-user" id="online-users-toggle" onclick="toggleOnlineUsers()"></i>
    <i id="hideShowButton" class="fas fa-minus" onclick="hideShow()"></i>
  </div>
  <div id="online-users"></div>
</div>
{% endif %}
<script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
<script src="{% static 'games/app.js' %}"></script>
<script src="{% static 'games/checkersgame/client.js' %}"></script>
{% if user.is_authenticated %}
{{ friends|json_script:"friends" }}
{{ preferences|json_script:"preferences" }}
<script>
  const friends = JSON.parse(document.getElementById('friends').textContent);
  const preferences = JSON.parse(document.getElementById('preferences').textContent);
  const wsScheme = window.location.protocol == "https:" ? "wss://" : "ws://";
  const chatSocket = new WebSocket(
    wsScheme
    + window.location.host
    + '/ws/chat/1/'
  );
  const PREFERENCES = 'PREFERENCES';
  const FRIENDS = 'FRIENDS';
  let filter = PREFERENCES;

  function filterByPreferences(onlineUsers) {
    const usersToShow = onlineUsers.filter(user => {
      for (let key in preferences) {
        let preference = preferences[key];
        if (preference !== null && preference !== undefined) {
          if (user[key] !== preference) return false;
        }
      }
      return true;
    });
    return usersToShow;
  }

  function filterOutFriends(onlineUsers, friends) {
    return onlineUsers.filter(user => {
      return friends.some(friend => friend.id === user.id);
    });
  }

  const onlineUsersDiv = document.getElementById("online-users");

  let friendsOnline = [];
  let preferencedUsers = [];
  let currentUsers = [];

  function createUserDiv(onlineUser) {
    const userDiv = document.createElement("div");
    userDiv.classList.add("online-user");
    userDiv.id = onlineUser.id;
    const userDivText = document.createElement("div");
    userDivText.classList.add("username");
    let usernameString = onlineUser.username;
    if (onlineUser.username.length > 12) {
      usernameString = onlineUser.username.substring(0, 12) + "...";
    }
    userDivText.innerHTML = usernameString;
    const userImage = document.createElement("img");
    userImage.classList.add("profile-picture");
    if (typeof(onlineUser.picture) === "string" && onlineUser.picture.length > 0) {
      userImage.src = onlineUser.picture;
    }
    userDiv.appendChild(userImage);
    userDiv.appendChild(userDivText);
    return userDiv;
  }

  function setUsersBasedOnFilter(filter) {
    if (filter === PREFERENCES) {
      currentUsers = preferencedUsers;
    } else {
      currentUsers = friendsOnline;
    }
    console.log("CURRENT USERS: ", currentUsers);
    onlineUsersDiv.textContent = '';

    currentUsers.forEach(onlineUser => {
      onlineUsersDiv.appendChild(createUserDiv(onlineUser));
    });
  }

  chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const usersFilteredByPreferences = filterByPreferences(data.message);
    friendsOnline = filterOutFriends(data.message, friends);
    preferencedUsers = usersFilteredByPreferences;
    setUsersBasedOnFilter(filter);
  };

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

  chatSocket.onopen = function(e) {};


</script>
<script>
  const hideShowButton = document.getElementById('hideShowButton');
  const onlineUserBox = document.getElementById('online-user-box');
  let hidden = false;

  function hideShow(e) {
    if (hidden) {
      hideShowButton.classList.remove('fa-plus');
      hideShowButton.classList.add('fa-minus');
      onlineUserBox.classList.remove('hidden');
      onlineUsersDiv.classList.remove('hide');
    } else {
      hideShowButton.classList.remove('fa-minus');
      hideShowButton.classList.add('fa-plus');
      onlineUserBox.classList.add('hidden');
      onlineUsersDiv.classList.add('hide');
    }
    hidden = !hidden;
  }
</script>
<script>
  const onlineUsersToggle = document.getElementById('online-users-toggle');
  function toggleOnlineUsers() {
    if (filter === FRIENDS) {
      onlineUsersToggle.classList.remove("fa-user-friends");
      onlineUsersToggle.classList.add("fa-user");
      filter = PREFERENCES;
    } else {
      onlineUsersToggle.classList.remove("fa-user");
      onlineUsersToggle.classList.add("fa-user-friends");
      filter = FRIENDS;
    }
    setUsersBasedOnFilter(filter);
  }
</script>
{% endif %}
{% endblock %}
